<header class="main-header">
<nav class="navbar navbar-default navbar-fnt navbar-backgrnd text-center">
  <div class="container">
    <div>

      <!--<a [routerLink]="['/']" class="navbar-brand"></a>-->
      <h1>Blue JS <small>Seu Controlador De Ambientes Via Bluetooth</small></h1>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <!-- /.navbar-collapse -->

  </div>
</nav>
</header>
