<div class="wrapper">

  <!-- Início do header -->
  <bjs-header></bjs-header>
  <!-- Fim do header -->

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>
  <footer class="footer navbar-fixed-bottom navbar navbar-default navbar-fnt text-align ">
    <br/>
        <div class="container ">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>BlueJS</strong> Controlador de ambientes
    </div>
  </footer>
</div>
