<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="wrapper">
  <h1>
    Bem Vindo Ao {{title}}!
  </h1>


  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>BlueJS</strong> Controlador De Ambientes
    </div>
  </footer>


</div>
