<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">
  <div class="headcolo col-xs-12">
    <h1 class="text-center">
      Bem Vindo Ao {{title}}!
      <small> Seu Controlador Bluetooth de ambientes</small>
    </h1>
  </div>
  <div><br/><br/><br/><br/><br/></div>
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>



  <footer>
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>BlueJS</strong> Controlador De Ambientes
    </div>
  </footer>


</div>
