<section class="content-header">
</section>

<section class="content">

  <div class="container">
<div class="jumbotron welcome-jumbotron">
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label" for="evento">Selecione o evento</label>
                <div class="col-md-6">
                  <select id="evento" name="evento" class="form-control">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label" for="oficina">Selecione a oficína</label>
                <div class="col-md-6">
                <select id="oficina" name="oficina" class="form-control">
                  <option value="1">Option one</option>
                  <option value="2">Option two</option>
                </select>
                </div>
                </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label" for="confirm"></label>
                <div class="col-md-4">
                  <br/>
                <button id="confirm" name="confirm" class="btn btn-success">Confirmar</button>
                </div>
                </div>
          </div>
      </div>
    </div>
      <div class="row">
          <div class="col-xs-12">

          </div>
      </div>
  </div>

</section>
